server:
  port: 8000
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: user-service
          uri: lb://USER-SERVICE/
          predicates:
            - Path=/user-service/**
          filters:
            - RewritePath=/user-service/(?<segment>.*), /$\{segment}

        - id: auth-service
          uri: lb://AUTH-SERVICE/
          predicates:
            - Path=/auth-service/**
          filters:
            - RewritePath=/auth-service/(?<segment>.*), /$\{segment}

        - id: resource-service
          uri: lb://RESOURCE-SERVICE/
          predicates:
            - Path=/resource-service/**
          filters:
            - RewritePath=/resource-service/(?<segment>.*), /$\{segment}

jwt:
  secret: team11-aws-cost-optimization-jwt-secret-key-2025